* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s8_2 {
  position: absolute;
  left: 60px;
  top: 397px;
  width: 907px;
  height: 135px;
  animation: fadeInRight 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s8_3 {
  position: absolute;
  left: 361px;
  top: 598px;
  width: 301px;
  height: 110px;
  animation: zoomInDown 1s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 2;
}


