* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 382px;
  top: 221px;
  width: 518px;
  height: 179px;
  animation: flipInX 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s3 {
  position: absolute;
  left: 539px;
  top: 348px;
  width: 434px;
  height: 281px;
  animation: fadeInRight 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 3;
}