*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 342px;
  top: 337px;
  width: 38px;
  height: 38px;
	animation: fadeIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 629px;
  top: 337px;
  width: 38px;
  height: 38px;
	animation: fadeIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	display: none;
	z-index: 10;
}

.lobe {
  position: absolute;
  left: 317px;
  top: 287px;
  width: 280px;
  height: 132px;
  z-index: 50;
}

.pio {
  position: absolute;
  left: 604px;
  top: 287px;
  width: 280px;
  height: 132px;
  z-index: 50;
}

@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}