* {
	margin: 0px;
	padding: 0px;
}

.clip1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.switch1 {
	position: absolute;
  left: 583px;
  top: 589px;
  width: 241px;
  height: 179px;
	display: none;
	z-index: 2;
}

.clip2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 3;
}

.switch2 {
	position: absolute;
  left: 65px;
  top: 558px;
  width: 243px;
  height: 210px;
	display: none;
	z-index: 4;
}

.clip3 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 5;
}

.switch3 {
	position: absolute;
  left: 455px;
  top: 550px;
  width: 269px;
  height: 218px;
	display: none;
	z-index: 6;
}

.clip4 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 7;
}

.switch4 {
	position: absolute;
  left: 0px;
  top: 548px;
  width: 266px;
  height: 220px;
	display: none;
	z-index: 8;
}

.clip5 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 9;
}