* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.video1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index:5;
}

.button1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 50;
}

.video2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index:10;
}

.button2 {
	position: absolute;
  left: 545px;
  top: 481px;
  width: 421px;
  height: 287px;
	display: none;
	z-index: 55;
}

.video3 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index:15;
}

.button3 {
	position: absolute;
  left: 128px;
  top: 229px;
  width: 802px;
  height: 520px;
	display: none;
	z-index: 50;
}