* {
	margin: 0px;
	padding: 0px;
}

.video1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.button1 {
	position: absolute;
  left: 0px;
  top: 97px;
  width: 394px;
  height: 408px;
	z-index: 2;
}

.video2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 3;
}

.button2 {
	position: absolute;
  left: 300px;
  top: 471px;
  width: 425px;
  height: 157px;
	display: none;
	animation: pulse 1s infinite;
    animation-delay: 0s;
    animation-fill-mode: both;
	z-index: 4;
}

.video3 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 5;
}

.button3 {
	position: absolute;
  left: 300px;
  top: 471px;
  width: 425px;
  height: 157px;
	display: none;
	animation: pulse 1s infinite;
    animation-delay: 0s;
    animation-fill-mode: both;
	z-index: 6;
}

.video4 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 7;
}

.button4 {
	position: absolute;
  left: 300px;
  top: 471px;
  width: 425px;
  height: 157px;
	display: none;
	animation: pulse 1s infinite;
    animation-delay: 0s;
    animation-fill-mode: both;
	z-index: 8;
}

.video5 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 9;
}

.button5 {
	position: absolute;
  left: 300px;
  top: 471px;
  width: 425px;
  height: 157px;
	display: none;
	animation: pulse 1s infinite;
    animation-delay: 0s;
    animation-fill-mode: both;
	z-index: 10;
}