* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.pop_up {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 2;
}

.pop_up2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 2;
}

.pop1 {
	position: absolute;
    left: 0px;
    top: 0px;
    width: 435px;
    height: 200px;
	z-index: 4;
}

.c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 6;
}

.pop2 {
	position: absolute;
    right: 0px;
    top: 0px;
    width: 593px;
    height: 200px;
	z-index: 4;
}

.c1ose2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 6;
}